to run the code newly :

pip install uv
pip install crewai 

create a new crew   -> crewai create crew <project name>

select the llm provider name (gemini, gpt, antropy etc) 
select the model name (for gemini -> gemini-1.5-flash, gemini-2.5-preview-flash etc )
(this will create a new folder in the working dir which will have many folders/files in it )

In the "src/config" folder modify the -> agents.yaml
                                      -> tasks.yaml   files accoring to your tasks 


modify the "crew.py" and "main.py" files to run the crew
(In crew.py we'll define all the agnets and tasks that we have written in our yaml files and a "@crew" func to orchestrate all the agents and tasks)
(In our main.py file )
